@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-2xl;
}

button {
  @apply bg-purple-300 p-4 rounded-lg font-bold;
}

form {
  max-width: 400px;
  @apply bg-white;
  border: 1px dashed hsl(250deg 100% 90%);
  border-radius: 2px;
  box-shadow: 0px 0px 0px 3px white, 0px 1px 4px hsl(250deg 100% 40% / 0.25),
    0px 2px 8px hsl(250deg 100% 40% / 0.125),
    0px 4px 16px hsl(250deg 100% 40% / 0.05);
}

header {
  padding: 16px;
  border-bottom: 2px solid #333;
  background: hsl(345, 71%, 90%);
}

p {
  @apply text-2xl leading-10;
}
